<section id="product">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            {{ content }}
        </div>
    </div>
    <br>
    <br>
    <div class="row text-center">
        <div class="center" style="margin: 0 auto; width: 69%;">
            {% for installdata in page.header.installations %}
                {% if installdata.name and installdata.amounth %}
                    <div style="min-width: 100px; height: 100px; margin-left: 30px; margin-right: 30px; margin-bottom: 30px;" class="pull-left text-center">
                        <h1 class="service-heading" style="font-size: 70px; margin-bottom: 0;">{{ installdata.amounth }}</h1>
                        <h3><strong>{{ installdata.name }}</strong></h3>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</section>
