/*
Error: Undefined variable: "$secondary-dark".
        on line 10 of scss/agency.scss

5:  *\/
6: 
7: body {
8:     overflow-x: hidden;
9:     font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
10:     color: $secondary-dark;
11: }
12: 
13: .text-muted {
14:     color: #777;
15: }

Backtrace:
scss/agency.scss:10
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/script/tree/variable.rb:49:in `_perform'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/script/tree/node.rb:50:in `perform'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:420:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:420:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:420:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:167:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:157:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/plugin/compiler.rb:328:in `watch'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/listener.rb:271:in `initialize_adapter'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `start_poller'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `initialize'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `new'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `start_poller'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/adapter.rb:93:in `start'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/adapter.rb:101:in `start!'
/Library/Ruby/Gems/1.8/gems/listen-1.1.6/lib/listen/listener.rb:65:in `start!'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/plugin/compiler.rb:404:in `listen_to'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/plugin/compiler.rb:338:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/plugin.rb:108:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/plugin.rb:108:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/exec/sass_scss.rb:370:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/exec/sass_scss.rb:50:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/../lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.4.5/bin/scss:13
/usr/bin/scss:19:in `load'
/usr/bin/scss:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$secondary-dark\".\A         on line 10 of scss/agency.scss\A \A 5:  */\A 6: \A 7: body {\A 8:     overflow-x: hidden;\A 9:     font-family: \"Roboto Slab\",\"Helvetica Neue\",Helvetica,Arial,sans-serif;\A 10:     color: $secondary-dark;\A 11: }\A 12: \A 13: .text-muted {\A 14:     color: #777;\A 15: }"; }
